# experiments
*_J_*
*_times_*

.ipynb_checkpoints/*
*.mexw64
Plot.ipynb
old
packages

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
.vs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Oo]bj/

# Compiled source #

###################

*.com
*.class
*.sdf
*.exe
*.o
*.so


