.ipynb_checkpoints/*
*.mexw64
Plot.ipynb
*J_ADOLC.txt
*J_ADOLC_split.txt
*J_Autograd.txt
*J_Ceres.txt
*J_diffsharpAD.txt
*J_diffsharpR.txt
*J_diffsharpRsplit.txt
*J_diffsharp.txt
*J_manual.txt
*J_Tapenade_b.txt
*J_Tapenade_bv.txt
*J_Tapenade_dv.txt
*_times.txt
autogen_example_gmm_objective_mex_d2_K30.cxx
# results of experiments (the runtime results are then composed into .mat file which is not ignored)
*_J_*
*_times_*
estimates_backup.mat

/packages

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
.vs

# Build results
/Debug/

# Python
__pycache__