# results of experiments (the runtime results are then composed into .mat file which is not ignored)
*_J_*
*_times_*
estimates_backup.mat

/packages

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
.vs

# Build results
/Debug/
/Release/

# Python
__pycache__