[submodule "submodules/awful"]
	path = submodules/awful
	url = https://github.com/awf/awful
[submodule "submodules/Adept-2"]
	path = submodules/Adept-2
	url = https://github.com/rjhogan/Adept-2
[submodule "submodules/adol-c"]
	path = submodules/adol-c
	url = https://gitlab.com/adol-c/adol-c
[submodule "submodules/DiffSharp"]
	path = submodules/DiffSharp
	url = https://github.com/DiffSharp/DiffSharp
[submodule "submodules/mathnet-numerics"]
	path = submodules/mathnet-numerics
	url = https://github.com/mathnet/mathnet-numerics
[submodule "submodules/FsAlg"]
	path = submodules/FsAlg
	url = https://github.com/gbaydin/FsAlg
[submodule "submodules/FSharp.Quotations.Evaluator"]
	path = submodules/FSharp.Quotations.Evaluator
	url = https://github.com/fsprojects/FSharp.Quotations.Evaluator
