*.vspscc
*.suo
*.mexw64
*.mexa64
*.mexmaci64
*.asv
*.au_bak
doc/Documentation.html
doc/Home.html
doc/MatlabAllHelp.html
matlab/Contents.m
matlab/au_ccode_test_mex.cpp
examples/optimization_tutorial/*.eps
examples/optimization_tutorial/icvss_cauchy.pdf
examples/optimization_tutorial/icvss_exppdf.pdf
examples/optimization_tutorial/icvss_huberpdf.pdf
examples/optimization_tutorial/icvss_log_p_gauss.pdf
matlab/html/au_levmarq.html
AuDotNet/bin/
AuDotNet/obj/
tests/**/bin/
tests/**/obj/
examples/autodiff/example_gmm_objective_mex.cxx
examples/robust_bundle_revisited/rba_figures.pdf
examples/robust_bundle_revisited/rba_figures.eps
examples/robust_bundle_revisited/fig_wfunc_bars.pdf
examples/robust_bundle_revisited/fig_wfunc_bars.eps
